@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap);

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #EEEEEE;
    color: #02020A;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.navbar a {
    font-size: 18px;
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}


.navbar a:hover,
.navbar a.active {
    color: #02020A;
}

.Logo {
    font-size: 25px;
    color: #02020A;
    text-decoration: none;
    font-weight: 600;
}


.icon {
    width: 20px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    text-decoration: none;
    color: #02020A;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh; /* This will ensure the container is centered vertically on the viewport */
}

.container {
    opacity: 0;
    max-width: 500px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    animation: slideLeft 1s forwards;
}

@keyframes slideLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.footer-divider {
    height: 4px;
    max-width: 850px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 2px;
    background-color: #c4c4c4;
}

.footer{
    position: relative;
    height: 50px;
    max-width: 850px;
    margin-right: auto;
    margin-left: auto;
}

.footer-logo-container {
    position: static;
    display: flex;
    margin-top: 17px;
    margin-bottom: auto;
    padding-left: 0px;
    justify-content: space-between;
}

.footer-logo {
    font-size: 25px;
    color: #02020A;
    text-decoration: none;
    font-weight: 600;
}

.footer-right-group {
    display: flex;
    align-items: center;
}

.footer-logo-group {
    display: flex;
    width: 84px;
    justify-content: space-between;
}

.icon {
    width: 20px;
    height: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    text-decoration: none;
    color: #02020A;
}