@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap);

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #EEEEEE;
    color: #02020A;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: none;
    backdrop-filter: blur(10px);
}



.navbar a {
    font-size: 18px;
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}


.navbar a:hover,
.navbar a.active {
    color: #02020A;
}


.Logo {
    font-size: 25px;
    color: #02020A;
    text-decoration: none;
    font-weight: 600;
}

.container-main {
    position: relative;
    display: block;
    max-width: 850px;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.container-main.intro-height {
    display: flex;
    min-height: 100vh;
    background-image: none;
    background-size: auto;
    background-repeat: repeat;
}

.w-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
}

.aboutme-picture {
    display: flex;
    height: 65vh;
    margin-top: 58px;
    justify-content: space-between;
}

.image-9 {
    display: block;
    max-width: 36%;
    margin-left: 0px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 0% 50%;
    object-position: 0% 50%;
}
  

img {
    vertical-align: middle;
    border: 0;
}

.div-block-1 {
    display: flex;
    min-height: 50vh;
    flex-direction: column;
    justify-content: space-between;
    align-self: center;
}

.div-block-2 {
    margin-left: 68px;
    letter-spacing: 0.5px;
    animation: slideIn 1s ease-in-out;
    z-index: -1;
}

@keyframes slideIn {
    from {
        transform: translateX(-85%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}



.self-intro {
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: "Poppins", sans-serif;
    color: #676767;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    letter-spacing: 0.3px;
}

.my-experience {
    background-color: #dadada;
    padding-bottom: 0px;
    margin-top: 0px;
}

.container-main.flex-about {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.div-block-1000 {
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.experience-box-divider {
    height: 2px;
    width: 850px;
    background-color: #676767;
}

._0topmargin-heading {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 21px;
    font-weight: 600;
    color: #343434;
}

.experience-box._0topmargin {
    margin-top: 0px;
}

.experience-box {
    margin-top: 100px;
}

.experience-box-heading {
    margin-top: 0px;
    margin-bottom: 10px;
    color: #343434;
    font-size: 21px;
    font-weight: 600;
}

.experience-items {
    display: flex;
    align-items: flex-end;
}

.experience-text {
    margin-top: 25px;
    margin-left: 0px;
    padding-right: 15px;
    color: #343434;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.025em;
}

.experience-text.margin7 {
    margin-top: 7px;
}

.experience-text.smaller {
    display: inline-block;
    margin-top: 5px;
    font-size: 15px;
    font-weight: 400;
    color: #676767;
}

.margin20 {
    margin-top: 20px;
}